.para{
    font: 1em sans-serif;
    font-size: 28px;
    margin-left: 40%;

}

.para2{
    font: 1em sans-serif;
    font-size: 28px;
    margin-left: 40%;
}
.message{
    font: 2em sans-serif;
    margin-left: 40%;
    font-size: 28px;
}
.Location{
    margin-left: 20%;
    font-size: 28px;
}

